html{
  font: 100%;
}

* {
  box-sizing: border-box;
}

body{
  text-align: center;
  font-size: 1em;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: slategrey;
  font-weight: 300;
}

h2{
  font-size: 3em;
  margin: 7em auto;
  width: 50%;
  font-weight: 700;
  color: lemonchiffon;
}
