$blue: #708090;
$yellow: #fffacd;
$f-f: 'Raleway', sans-serif;
$right: 100px 0px 100px 0px;
$left: 0px 100px 0px 100px;

* html{
  font: 100%;
  box-sizing: border-box;
}

body{
  background-color: white;
  font-family: $f-f;
  font-weight: 700;
  header{
    color: $blue;
    display: block;
    text-align: right;
    #name{
      padding: .25em;
      font-weight: 300;
      font-size: 4em;
      li{

      }
    }
    img{
      width: 45%;
      position: absolute;
      top: .5em;
      left: 0;
      z-index: -1;
    }
  }
  main{
    text-align: center;
    margin-top: 1em;

    .navBar{
      text-align: right;

      ul{
        display: inline-block;
        margin: 0em 2em;
        li{
          margin: 1em 0;
          margin: 1em 0;
          border-bottom: 1px solid rgba(44, 50, 56, .5);
          padding-bottom: .5em;
          a{
            text-decoration: none;
            font-weight: 300;
            font-size: 2em;
            color: $blue;
            &:visited{
              text-decoration: none;
              outline: none;
            }
          }
        }
      }
    }

    .portfolio{
      text-align: left;
      position: absolute;

      font-size: 3em;
      margin-left: .5em;
      top: 8em;
      color: $blue;
    }

    .projects{
      position: absolute;
      right: .5em;
      width: 50%;
      .project{
        font-weight: 300;
        width: 90%;
        height: 5em;
        margin: .5em auto;
        font-size: 2em;
        border: 1px solid $blue;
      }
    }
    .infos{
      position: absolute;
      left: .5em;
      width: 50%;
      .info{
        font-weight: 300;
        width: 90%;
        height: 5em;
        margin: .5em auto;
        font-size: 2em;
        border: 1px solid $blue;
      }
    }
    .resume{
      text-align: left;
      h2{
        font-size: 3em;
      }
      h3{
        font-size: 2em;
      }
      h4{
        font-size: 1.5em;
      }
      h5{
        font-size: 1.25em;
        font-style: italic;
      }
    }
  }
}
