$blue: #708090;
$yellow: #fffacd;
$f-f: 'Lato', sans-serif;
$right: 100px 0px 100px 0px;
$left: 0px 100px 0px 100px;

* html{
  font: 100%;
  box-sizing: border-box;
}

body{
  background-color: $blue;
  font-family: $f-f;
  font-weight: 700;
}

header{
  color: $yellow;
  font-size: 1em;

  a{
    display: block;
    text-align: center;
  }
  img{
    margin: 2em;
    width: 30%;
  }
}

main{
  padding: 1em;
  text-align: center;
}

.links{
  display: inline-block;
}
li{
  width: 50%;
  margin: 0.05em;
  display: inline-block;
  background-color: $yellow;
  color: $blue;
  font-size: 2em;
  &:hover{
  background-color: $blue;
  color: $yellow;
  border: 1px solid $yellow;
  border-radius: 10px;
  }
  &.two{
    border-radius: $left;
      &:hover{
      border-radius: $right;
      }
    }
  &.one{
      border-radius: $right;
      &:hover{
      border-radius: $left;
      }
    }

  a{
    display: block;
    padding: 0.5em;
    text-decoration: none;
    outline: none;
    color: $blue;
    &:hover{
      color: $yellow;
    }
  }
}
