* html {
  font: 100%;
  box-sizing: border-box; }

body {
  background-color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 700; }
  body header {
    z-index: -1;
    position: fixed;
    top: 0;
    width: 100%;
    color: #708090;
    display: block;
    text-align: right; }
    body header #name {
      padding: .25em;
      font-weight: 300;
      font-size: 4em; }
    body header img {
      width: 45%;
      position: absolute;
      top: .5em;
      left: 0;
      z-index: -1;
      opacity: .7; }
  body main {
    text-align: center;
    margin-top: 19em; }
    body main .navBar {
      text-align: right;
      padding-bottom: 10em;
      background: white;
      width: 55%;
      right: 0;
      position: absolute;
      border-radius: 15% 0% 20% 20%; }
      body main .navBar ul {
        display: inline-block;
        margin: 0em 2em; }
        body main .navBar ul li {
          margin: 1em 0;
          margin: 1em 0;
          border-bottom: 1px solid rgba(44, 50, 56, 0.5);
          padding-bottom: .5em; }
          body main .navBar ul li a {
            text-decoration: none;
            font-weight: 300;
            font-size: 2em;
            color: #525252; }
            body main .navBar ul li a:visited {
              text-decoration: none;
              outline: none; }
    body main .portfolio {
      text-align: left;
      width: 100%;
      position: fixed;
      font-weight: 100;
      font-size: 3em;
      margin-left: .5em;
      top: 10em;
      color: #525252; }
    body main .projects {
      background: white;
      top: 70%;
      color: #525252;
      position: absolute;
      right: 0;
      width: 50%; }
      body main .projects .project {
        color: #525252;
        font-weight: 300;
        width: 90%;
        height: 5em;
        margin: .5em auto;
        font-size: 2em;
        border: 1px solid #708090; }
    body main .infos {
      background: white;
      top: 70%;
      color: #525252;
      position: absolute;
      left: 0;
      width: 50%; }
      body main .infos .info {
        font-weight: 300;
        width: 90%;
        height: 5em;
        margin: .5em auto;
        font-size: 2em;
        border: 1px solid #708090; }
    body main .resume {
      text-align: left; }
      body main .resume h2 {
        font-size: 3em; }
      body main .resume h3 {
        font-size: 2em; }
      body main .resume h4 {
        font-size: 1.5em; }
      body main .resume h5 {
        font-size: 1.25em;
        font-style: italic; }
  body .aboutWrap {
    width: 100%;
    display: block;
    margin: 3% auto; }
    body .aboutWrap .aboutMe {
      padding: 1em; }
      body .aboutWrap .aboutMe #subName {
        z-index: -1;
        position: fixed;
        display: inline-block;
        font-size: 2em;
        border-bottom: 1px solid black;
        padding: 4em;
        margin: .5em;
        text-align: right; }
        body .aboutWrap .aboutMe #subName li {
          display: inline-block; }
      body .aboutWrap .aboutMe h6 {
        position: fixed;
        top: 7em;
        font-size: 4em;
        margin: 0.3em;
        z-index: -1; }
      body .aboutWrap .aboutMe p {
        padding: 0.5em;
        background: white;
        margin-top: 30em;
        font-size: 1.6em;
        font-weight: 100; }
      body .aboutWrap .aboutMe a {
        position: absolute;
        right: 2%;
        bottom: 2%;
        background: white;
        border: 3px solid #f3f3f3;
        text-decoration: none;
        font-weight: 300;
        font-size: 2em;
        color: #e0e0e0;
        padding: .5em 1em;
        border-radius: 5px; }
        body .aboutWrap .aboutMe a:hover {
          background: white;
          border: 3px solid #525252;
          color: #949494; }

/*# sourceMappingURL=styles.css.map */
