* html {
  font: 100%;
  box-sizing: border-box; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

nav .nav_container {
  font-family: "Raleway", sans-serif; }
  nav .nav_container a:link, nav .nav_container a:visited {
    border: none;
    text-decoration: none;
    font-style: normal;
    color: black; }
  nav .nav_container .nav_header {
    font-size: 3em;
    padding: 5%; }
    nav .nav_container .nav_header a {
      padding: 5%;
      border-bottom: 1px solid black; }
    nav .nav_container .nav_header #nav_menu {
      position: absolute;
      right: 3%;
      top: 3%; }
  nav .nav_container .navBar {
    position: absolute;
    top: 10%;
    right: 3%;
    font-size: 2.5em;
    line-height: 3; }
    nav .nav_container .navBar .nav_links {
      text-align: right; }

footer {
  position: relative;
  bottom: 0;
  width: 100%; }
  footer p {
    text-align: center;
    margin: 0 auto;
    display: block;
    font-family: "Raleway", sans-serif;
    padding: 2% 0; }

main {
  font-family: "Raleway", sans-serif; }
  main .homepage {
    margin: 5% 0; }
    main .homepage .aboutme {
      padding: 1% 5% 1%;
      width: 70%;
      font-size: 1.2em;
      line-height: 1.1; }
  main .portfolio {
    font-size: 2.5em;
    margin: 5%; }
    main .portfolio a:link, main .portfolio a:visited {
      border: none;
      text-decoration: none;
      font-style: normal; }
    main .portfolio #portfolioH1 {
      margin-left: 50%;
      color: grey;
      border-bottom: 1px dotted grey;
      display: inline;
      padding: 2%;
      font-size: 1.2em; }
    main .portfolio .fa-angle-down {
      display: inline-block;
      margin: 0 5%;
      animation: arrowPortfolio 2s infinite;
      -webkit-animation: arrowPortfolio 2s infinite;
      -moz-animation: arrowPortfolio 2s infinite;
      -o-animation: arrowPortfolio 2s infinite;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    main .portfolio .project {
      margin: 15% 3%; }
      main .portfolio .project .fa-github {
        color: black;
        float: right; }
      main .portfolio .project p {
        font-family: "Arvo", serif;
        font-size: .6em;
        line-height: 1.5;
        color: black; }
      main .portfolio .project #pearlimg {
        width: 100px;
        height: 100px; }
      main .portfolio .project #pearl {
        font-family: "Arvo", serif;
        font-size: 1.5em;
        color: #E67A7A;
        margin: 5% 0; }
      main .portfolio .project img {
        width: 25%;
        border-radius: 50%;
        display: inline-block;
        margin-right: 5%;
        vertical-align: text-bottom; }
      main .portfolio .project #chess {
        font-family: "Arvo", serif;
        font-size: 1.5em;
        color: #F19F4D;
        margin: 5% 0; }
      main .portfolio .project #chessimg {
        width: 80px;
        height: 80px;
        padding: 2%; }
      main .portfolio .project .fa-weixin {
        color: #233237; }
      main .portfolio .project #brotogo {
        font-family: "Arvo", serif;
        font-size: 1.5em;
        color: #4484CE;
        margin: 5% 0; }
  main .additional_contact {
    text-align: right;
    display: block;
    font-size: 1.5em;
    margin-bottom: 3%;
    margin-left: 50%; }
    main .additional_contact h1 {
      border-bottom: 1px dotted black;
      font-size: 1.2em;
      font-weight: 700;
      padding: 1% 1% 2%;
      margin-bottom: 2%;
      text-align: right; }
    main .additional_contact p {
      line-height: 1.2;
      font-size: .8em;
      padding-right: 2%;
      text-align: right; }

@keyframes arrowPortfolio {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-2px); }
  60% {
    transform: translateY(-4px); } }
.resume {
  display: block;
  margin: 10%;
  font-weight: 100; }
  .resume #subName {
    display: inline-block;
    width: 50%;
    position: absolute;
    right: 5%;
    top: 5%; }
    .resume #subName li {
      font-size: 2em;
      display: inline-block;
      list-style: none; }
  .resume #homeBtn {
    position: absolute;
    right: 1%;
    top: 1%;
    background: white;
    border: 3px solid #f3f3f3;
    text-decoration: none;
    font-weight: 300;
    font-size: 2em;
    color: #e0e0e0;
    padding: 0.5em 1em;
    border-radius: 5px; }
    .resume #homeBtn:hover {
      background: white;
      border: 3px solid #525252;
      color: #949494; }
  .resume .education {
    position: absolute;
    right: 5%;
    top: 15%;
    width: 25%;
    text-align: right; }
  .resume .workExperience {
    position: absolute;
    left: 5%;
    top: 10%;
    width: 60%; }
  .resume h2 {
    font-size: 3em;
    margin: 4% 1%; }
  .resume h3 {
    font-size: 2em;
    margin: 3% 1%; }
  .resume h4 {
    font-size: 1.5em;
    margin: 2% 1%; }
  .resume h5 {
    margin: 1%;
    font-size: 1em;
    font-style: italic; }
  .resume h6 {
    margin: 1%;
    font-size: 1em; }
  .resume .resumeBullets {
    margin: 1%; }
    .resume .resumeBullets li {
      margin: 1% 3%;
      list-style: circle; }
  .resume .footer {
    height: 5em;
    width: 100%;
    display: block; }

/*# sourceMappingURL=styles.css.map */
