<div class="aboutWrap" >
<div class="aboutMe">
  <ul id="subName" ng-model="test" cc-height="value">
      <li>Jordan</li>
      <li>James</li>
      <li>Kvale</li>
      <li>Long</li>
  </ul>
  <h6>About Me</h6>
  <p ng-model="test" cc-height="value">
    Skateboard tumblr DIY, scenester franzen plaid ad bespoke enim man bun narwhal aute 90's. Post-ironic aliquip thundercats kickstarter. Fugiat VHS drinking vinegar williamsburg sed, shoreditch aute bushwick artisan locavore kinfolk cornhole dreamcatcher crucifix four dollar toast. Photo booth godard intelligentsia, lumbersexual gluten-free enim quis swag. Mixtape kitsch raw denim biodiesel art party cardigan. Viral mlkshk mumblecore mustache ramps officia. Fashion axe tacos chillwave, hella pabst consectetur williamsburg fugiat aute reprehenderit sint lo-fi neutra duis.
  </p>
  <a href="#/home">HOME</a>
</div>
</div>
